name: Test

on:
  push:
    branches: [develop]
  pull_request:
    branches: [master, develop]

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node-version: 14 # Add 12 later

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npx ci
    - name: Build
      run: npm run build
    - name: Lint
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.node-version == 14 }}
      run: npm run lint
    - name: Test
      run: npm run test
